# Entorno virtual
env/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Sistema
.DS_Store
Thumbs.db

# Environment variables
.env

# Collected static files for production
static/
